{% extends "templates/web.html" %}

{% block page_content %}
<h2> Projects awaiting mentor assignment</h2>
    <h3> Awaiting mentor assignment</h3>
    {% if no_mentor_assignments%}
        <p>No students awaiting mentor assignments</p>
    {%else%}
        {%for a in assignment_list if a["ma_project_list"]%}
            <b>Student name: </b>{{a["student"].full_name}}
            {%for p in a["ma_project_list"]%}
                <p><b>Project title: </b> {{p.title}}</p>
                <form id="{{p.name}}">
                    <label for="mentor">Select Faculty Mentor </label> &nbsp;&nbsp;
                    <select name="mentor">
                        <option value="" selected>-- Select faculty mentor --</option>
                        {%for fdict in faculty_mentors%}
                        <option value={{fdict["fid"]}}>{{fdict["fuser"].full_name}} ({{fdict["fuser"].email}})</option>
                        {%endfor%}
                    </select>
                    <p><button type=submit class="btn btn-primary" onClick='assign_mentor({{a["student"].name}}, {{p.name}}); return false;'>Assign Mentor</button></p>
                </form>
            {%endfor%}
            <hr>
        {%endfor%}
    {%endif%}
    <h3> Awaiting reviewer assignment</h3>
    {% if no_reviewer_assignments%}
        <p>No students awaiting reviewer assignments</p>
    {%else%}
        {%for a in assignment_list  if a["ra_project_list"]%}
            <b>Student name: </b>{{a["student"].full_name}}
            {%for p in a["ra_project_list"]%}
                <p><b>Project title: </b> {{p.title}}</p>
                <form id="reviewer_assignment_{{p.name}}">
                    <b>Select Reviewer : </b> <br/>
                    <p>
                    {%if not p.primary_reviewer%}
                    <select name="primary_reviewer" required>
                        <option value="" selected>-- Select primary reviewer --</option>
                        {%for fdict in primary_reviewers%}
                        <option value={{fdict["fid"]}} {%if p.primary_reviewer|int == fdict["fid"]|int%} selected {%endif%}>{{fdict["fuser"].full_name}} ({{fdict["fuser"].email}})</option>
                        
                        {%endfor%}
                    </select>
                    {%endif%}
                    </p>
                    <p>
                    <select name="secondary_reviewer">
                        <option value="" default>-- Select secondary reviewer --</option>
                        {%for fdict in secondary_reviewers%}
                        <option value={{fdict["fid"]}} {%if p.secondary_reviewer|int == fdict["fid"]|int%} selected {%endif%}>{{fdict["fuser"].full_name}} ({{fdict["fuser"].email}})</option>
                        {%endfor%}
                    </select>
                    </p>
                    <p><button type=submit class="btn btn-primary" onClick='assign_reviewers({{p.name}}); return false;'>Assign Reviewer</button></p>
                </form>
            {%endfor%}
            <hr>
        {%endfor%}
    {%endif%}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>

    async function assign_mentor(student_id, project_id) {
        form = document.getElementById(project_id);
        fd = new FormData(form);
        mentor_id = fd.get("mentor");
        console.log(student_id, project_id, mentor_id)
        // Send data to the backend via AJAX
        $.ajax({
            url: '/api/method/sirb.api.assign_student_mentor',  // Custom API endpoint
            method: 'POST',
            data: {
                student: student_id, 
                project: project_id, 
                mentor: mentor_id
            },
            success: function(response) {
                alert("Mentor assigned successfully.");
                window.location.replace("/anchor_home");
            },
            error: function(error) {
                $('#response').html('Error: ' + error.responseText);
            }
        });
    };

    async function assign_reviewers(project_id) {
        console.log("reviewer_assignment_"+ project_id);
        form = document.getElementById("reviewer_assignment_"+ project_id);
        fd = new FormData(form);
        let primary_reviewer = fd.get("primary_reviewer");
        let secondary_reviewer = fd.get("secondary_reviewer");
        if (primary_reviewer == "") {
            alert("The primary reviewer is required to assign reviewers.")
            return false;
        }
        console.log(project_id, primary_reviewer, secondary_reviewer);
        // Send data to the backend via AJAX
        $.ajax({
            url: '/api/method/sirb.api.assign_student_reviewers',  // Custom API endpoint
            method: 'POST',
            data: {
                project_id: project_id,
                primary_reviewer: primary_reviewer,
                secondary_reviewer: secondary_reviewer
            },
            success: function(response) {
                alert("Reviewer(s) assigned successfully.");
                window.location.replace("/anchor_home");
            },
            error: function(error) {
                $('#response').html('Error: ' + error.responseText);
            }
        });
    };
</script>

{%endblock%}