{% extends "templates/web.html" %}

{% block page_content %}
<h2> Projects awaiting review</h2>
{%if no_assignments%}
    No projects currently pending for review.
{%else%}
    <h3>Primary reviewer projects</h3>
        {%for a in assignment_list  if a["primary_project_list"]%}
            <b>Student name: </b>{{a["student"].full_name}}<br/>
            {%for p in a["primary_project_list"]%}
                <b>Project title: </b> {{p.title}}<br/>
                <p><b>Project status: </b> {{p.status}}</p>

                <a href="/project-reviewer-view/{{p.name}}" class="btn btn-primary">View/Review</a> &nbsp; &nbsp;
                {% if p.status != "Approved"%}
                    {% if p.status != "Provisionally approved"%}
                        <button class="btn btn-primary" onClick="set_project_status({{p.name}}, 'Provisionally approved');return false">Grant provisional approval</button> &nbsp;&nbsp;
                    {%endif%}
                    <button class="btn btn-primary" onClick="set_project_status({{p.name}}, 'Approved');return false">Grant final approval</button>
                {%endif%}
            {%endfor%}
            <hr>
        {%endfor%}
    <h3>Secondary reviewer projects</h3>
        {%for a in assignment_list  if a["secondary_project_list"]%}
            <b>Student name: </b>{{a["student"].full_name}}
            {%for p in a["secondary_project_list"]%}
                <p><b>Project title: </b> {{p.title}}</p>
                <a href="/project/{{p.name}}" class="btn btn-primary">View/Review</a>
            {%endfor%}
            <hr>
        {%endfor%}        
{%endif%}
<script>
    async function set_project_status(project_id, status) {
        console.log(project_id)
        // Send data to the backend via AJAX
        $.ajax({
            url: '/api/method/sirb.api.set_project_status',  // Custom API endpoint
            method: 'POST',
            data: {
                project_id: project_id,
                status: status
            },
            success: function(response) {
                alert("Project status updated successfully.");
                window.location.replace("/reviewer_home");
            },
            error: function(error) {
                $('#response').html('Error: ' + error.responseText);
            }
        });        
    };          
</script>
{%endblock%}