{% extends "templates/web.html" %}

{% block page_content %}
{%if not student %}
    <h4>
        <p>Your account does not seem to have been registered in the SIRB system. </p>
        <p>Please contact the SIRB admin.</p>
    </h4>
{%else%}
    <h2>SIRB student home page for {{student.display_full_name|capitalize}}</h2>
    
    {% if student.projects %}
        {%for project in projects%}
            <p><b> Project title:</b> {{project.title}}</p>
            <p><b> Status: </b>{{project.status}}</p>
            <p><b> View/modify project details: </b> &nbsp;&nbsp; <a class="btn btn-primary" href="/project/{{project.name}}" >Project details </a></p>
            {% if project.status == "Awaiting student correction for mentor feedback"%}
                <b>Feedback from mentor: </b><br>
                <p>{{project.mentors_feedback[-1].facultys_comments}}</p>
            {%elif project.status == "Awaiting proposal completion by student"%}
                <p>Entered all your project details? Click below to request a faculty mentor assignment.</p>
                <button class="btn btn-primary" onClick="set_project_status({{project.name}}, 'Awaiting Faculty mentor assignment', 'Faculty mentor assignment successfully requested.');return false">Request Faculty Mentor Assignment</button>
            {%elif project.status == "Awaiting student correction for reviewer feedback"%}
                <b>Feedback from reviewer: </b><br>
                <p>{{project.reviewer_comments_for_student}}</p>
            {%endif%}
            
            {%if project.status == "Awaiting student correction for mentor feedback"%}
                <p>Completed your corrections? Click below to submit your corrections.</p>
                <button class="btn btn-primary" onClick="set_project_status({{project.name}}, 'Awaiting Faculty mentor approval', 'Sucessfully submitted corrections');return false">Submit corrections</button>
            {%elif project.status == "Awaiting student correction for reviewer feedback"%}
                <p>Completed your corrections? Click below to submit your corrections.</p>
                <button class="btn btn-primary" onClick="set_project_status({{project.name}}, 'Awaiting reviewer feedback', 'Sucessfully submitted corrections');return false">Submit corrections</button>
            {%endif%}
        {%endfor%}
    {%else %}
    
        <p> <b>Current status :</b> SIRB Process not initiated</p>
        <p>No research project proposal created. Create a project by filling in the title below. You can then fill in the details after creation.</p>
        <form id="create_project_form">
            <label for="title">Project title:</label>
            <input id="title" name="title">
            <button id="create" class="btn btn-primary" ">Create research proposal</button>
        </form>
    {%endif%}
{%endif%}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $('#create_project_form').on('submit', function(e) {
            e.preventDefault();

            // Collect form data
            var title = $('#title').val();


            // Send data to the backend via AJAX
            $.ajax({
                url: '/api/method/sirb.api.create_student_project',  // Custom API endpoint
                method: 'POST',
                headers: {
                    'X-Frappe-CSRF-Token': frappe.csrf_token
                },
                data: {
                    title: title,
                    student_id: {{student.name}}
                },
                success: function(response) {
                    $('#response').html('Project Created Successfully!');
                    alert("Project created successfully.");
                    window.location.replace("/student_home");
                },
                error: function(error) {
                    $('#response').html('Error: ' + error.responseText);
                }
            });
        });
    });
    async function set_project_status(project_id, status, success_message) {
        console.log(project_id)
        // Send data to the backend via AJAX
        $.ajax({
            url: '/api/method/sirb.api.set_project_status',  // Custom API endpoint
            method: 'POST',
            data: {
                project_id: project_id,
                status: status
            },
            success: function(response) {
                alert(success_message);
                window.location.replace("/student_home");
            },
            error: function(error) {
                $('#response').html('Error: ' + error.responseText);
            }
        });        
    };          
</script>   
{% endblock %}
